{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["./babel-root-import", [{
      "rootPathPrefix": "@content",
      "rootPathSuffix": "./src"
    }, {
      "rootPathPrefix": "@vikfroberg/express-redux",
      "rootPathSuffix": "./src/lib/express-redux"
    }, {
      "rootPathPrefix": "@vikfroberg/func",
      "rootPathSuffix": "./src/lib/func"
    }, {
      "rootPathPrefix": "@vikfroberg/router",
      "rootPathSuffix": "./src/lib/router"
    }]]
  ]
}

