.textarea {
	background-color: transparent;
	border: .1rem solid #d1d1d1;
	border-radius: .4rem;
	box-shadow: none;
	box-sizing: inherit;
	padding: 1.0rem;
	width: 100%;
}

.textarea:focus {
  border-color: #9b4dca;
  outline: 0;
}

